beautifulsoup4
dweepy
geopy
imageio
ipykernel
jupyterlab
matplotlib
nltk
numpy
pandas
prospector
scikit-learn
scipy
seaborn
spacy
textatistic
textblob

beautifulsoup4 - data from web pages
dweepy - device feeds
geopy - geographic information
imageio - work with images
jupyterlab - very popular web-based analytics environment
matplotlib - custom charts
nltk - natural language toolkit
numpy - 1D Arrays
pandas - 2D panel / sheet data
prospector - static code analysis
pymongo - work with noSQL datastore MongoDB and Atlas
pyspark - work with Apache Spark
scikit-learn - machine learning
scipy - statistics and scientific computing
seaborn - quick charts
spacy - natural language processing
tensorflow - machine learning
textatistic - readability metrics
textblob - text processing
wordcloud - visualize frequency of text
